* {
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	color: #777777;
	background-image: url("../images/cheap_diagonal_fabric.png");		
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}
header {
	background-color: #ffffff;	
	border-bottom: solid 2px #cccccc;	
}
nav {
	background-color: white;
	margin: 0;
	overflow: hidden;
	display: inline-block;
	position: relative;
	left: 350px;
}
a.navbar {
	text-decoration: none;
	padding: 0 10px 0 10px;
}
.main_content {
	width: 960px;    
    margin: 40px 0 40px 160px;
    overflow: auto;
}
section {
	background-color: #ffffff;
	float: left;
	width: 650px;	
	margin-right: 18px;
	border: 1px solid #dddddd;
}
aside {	
	width: 270px;	
	margin-left: 18px;		
	float: left;	
	text-align: center;
	background-color: #ffffff;		
	border: 1px solid #dddddd;	
}
.social_media {
	margin: 20px;
	text-align: center;
	background-color: #ffffff;	
}
h1 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	font-weight: bold;		
	font-size: 1.8em;	
	font-weight: bold;
}
h1.name{	
	color: #ffffff;
	background-color: #4aaaa5;
	display: inline-block;
	padding: 1em;	
	margin-left: 160px;
}
h1.about {		
	padding-bottom: 1em;
	margin: 1em;
	border-bottom: 3px solid #dddddd;	
}
h2 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	font-weight: bold;
	background-color: #ffffff;	
	padding: 10px 0 20px 0;
	font-size: 1.3em;
	border-bottom: 2px solid #dddddd;	
}
img.about {
	width: 200px;
	height: 200px;
	float: left;
	padding: 0 32px 10px 32px;
}
img.icon {
	width: 60px;
	height: 60px;
	padding: 5px;
	margin: 20px 0 20px 0;
}
p {
	line-height: 2em;
	padding: 0 32px 32px 32px;	
}
.clearfix {
  overflow: auto;
}
footer {
	background-color: #666666;
}
footer p {
	font-size: .75em;
	color: #cccccc;
	text-align: center;
	border-top: 8px solid #4aaaa5;
	padding: 32px;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}
footer, .push {
	height: 100px;
}
a.navbar:visited {
	color: #777777;
}
a.navbar:hover {
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 10px;
}
img.portfolio-left {
	width: 250px;
	padding: 32px 25px 32px 50px;
	float: left;
	/*border: 1px solid red;*/
}

img.portfolio-right {
	width: 250px;
	padding: 32px 50px 32px 25px;
	float: left;
	/*border: 1px solid blue;*/
}
.portfolio-image {
	position: relative;
	width: 325px;
	float: left;
}
h3.left { 
   position: absolute; 
   top: 150px; 
   left: 50px; 
   background-color: #4aaaa5;
   width: 250px; 
   height: 40px;
   text-align: center;
   padding-top: 20px;
   font-family: 'Georgia', Times, 'Times New Roman', serif;
   color: #ffffff;
}
h3.right { 
   position: absolute; 
   top: 150px; 
   left: 25px; 
   background-color: #4aaaa5;
   width: 250px; 
   height: 40px;
   text-align: center;
   padding-top: 20px;
   font-family: 'Georgia', Times, 'Times New Roman', serif;
   color: #ffffff;
}
/*h3 span { 
   color: #ffffff; 
   background-color: #4aaaa5;
  }*/
